/*
 Mobile first pattern.
 Just add the modifications for mobile here, and the desktop
 modifications inside  @media (min-width: 40em)
*/

/*
 Decoration
 ------------
 */
table.tablesaw-stack tbody tr {
    border-bottom: 1px solid #dfdfdf;
}

table.tablesaw-stack tbody td {
    text-align: left;
}

.tablesaw-cell-label {
    padding: 0 .6em 0 0;
    width: 30%;
}

.tablesaw-cell-content {
    max-width: 67%;
}

@media (min-width: 100em) {

    table.tablesaw-stack thead {
        display: table-header-group;
    }

    table.tablesaw-stack tbody td {
        float: none;
        width: auto;
        text-align: inherit;
    }

    .tablesaw-cell-label {
        display: none;
    }

    .tablesaw-cell-content {
        display: block;
        width: auto;
    }

    table.tablesaw-stack tbody tr {
        border-bottom: inherit;
    }

}